# Python
__pycache__/
*.py[cod]
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.db

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# MacOS
.DS_Store

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# CSV and output files
jobs.csv
jobs_numbered.csv

# Proxies output
Proxies/working_proxies.txt

# Other
*.log
